.PostItem {
    padding: 15px;
    border: 2px solid var(--primary);

    .header {
        display: flex;
        align-items: center;
        column-gap: 5px;
        span, .title {
            font-size: 20px;
            font-weight: 600;
        }
    }

    button {
        margin-left: auto;
    }

    .desc {
      margin-top: 10px;
    }
}