* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.App {
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;

    hr {
        margin: 50px 0;
    }
}


:root {
    --white: #fff;
    --black: #000;
    --primary: #476096;
    --primary-hover: #405686;
    --primary-active: #476096;
    --gray: #6d6d6d;
    --gray-hover: #4b4b4b;
    --gray-active: #6d6d6d;

    --trans: .3s;
}

